@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Noto Serif", serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/*  font-family: "Inter", sans-serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
   
    display: flex;
    align-items: center;
    justify-content: space-around;

}
 header .navbar a{
    font-size: 1.2rem;
    padding: 0 1.5rem;
    color: #666;
    text-decoration: none;
   
}
.navbar  .home{
    color: #252432;
}
.navbar .shopabout {
    color: #8987A1;
}
.navbar .cart{
    color: #000000;
}

/* section 1 start */

.content{
    width: 80vw;
    margin: auto;
}
 .banner{
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    height: 85vh;
    /* margin: 14rem auto; */
}
.banner h1{
    font-size: 50px;
    font-weight: bold;
    margin: 15px 0;
    font-family: "Noto Serif", serif; 
 }
 .banner p{
     font-family: "Inter", sans-serif; 
    margin: 15px 0;
    max-width: 70%;
    color: #727272;
 }
 .banner-left{
    padding-left: 45px;
    flex: 1;
}
  
.banner-right{
    flex: 1;
}
/* section 1 end */
/* section 2 start */
.contant-titel{
    
    width: 100vw;
    /* background-color: aqua; */
}
.contant-titel .Content2{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.contant-titel .Content2 h2{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: bold;
}
.contant-titel .Content2 p{
        
    font-family: "Inter", sans-serif; 
    
    color: #727272;
    
}

/* card section */
.container{
    width: 80vw;
    margin: auto;
    padding-top: 33px;
}
.gridcss{
    margin: 10px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    gap: 30px;
    align-items: center;

}
.gridcss > article{
    /* background-color: rgb(236, 190, 144); */
    border: none;
    /* box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3); */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}
.gridcss > article:hover{
    transform: translate(5px);
    box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}
.gridcss > article img{
    width: 100%;
}

.text button{
    font-family: "Inter", sans-serif;
    width: 100%;
    padding: 10px;
    background: #E95A08;
    border: 1px solid gray;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
    
}
article p{
    font-family: "Inter", sans-serif;
    padding-top: 20px;
    color: #111111;
}
article h3{
    font-family: "Inter", sans-serif;
    padding-bottom: 20px;
    font-weight: 700;
    color: #111111;
}
/* section 3 start */
.Plants-Lover-Section{
    width: 80%;
    margin: auto;
    gap: 65px;
    padding-top: 150px;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    
}
.flower-list{
   
    width: 50%;
    height: 50%;
    /* padding: 100px 40px; */
    border: 2px solid rgb(39, 29, 29);
    
}

ol, ul, menu {
    list-style:disc;
    
}
.Plants-Lover-Section h2{
    font-family: "Noto Serif", serif;
    font-size: 40px;
    font-weight: bold;
    
}

ul li{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    color: #727272;
}
.img-item{
    width: 50%;
    height: 50%;
    /* padding: 100px 70px; */
    border: 2px solid red;
    
}
 #badge{
   
   position: absolute;
   
   width: 300px;
   height: 300px;
   margin-left: 350px;

   margin-top: -130px;

}
#imgg{
     width: 540px;
     height: 540px;
}
